
@import './utils/fonts';

@import './utils/variables';

@import './utils/base';

@import './utils/texts';

@import './utils/utils';

@import './utils/mixins';





@import './layouts/advantages-section';

@import './layouts/chefs-section';

@import './layouts/contacts-section';

@import './layouts/container';

@import './layouts/footer'; 

@import './layouts/formats-section';

@import "./layouts/form-terms";

@import './layouts/header';

@import './layouts/hero-section';

@import './layouts/mobile-menu';

@import './layouts/modal';

@import './layouts/sections';

@import './layouts/traditions-section';



@import './components/buttons';

@import "./components/carousel-button";

@import "./components/chef-card";

@import "./components/format-card";

@import "./components/input";

@import './components/links';

@import './components/links';

@import './components/pagination';




