.format-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  height: 444px;
  padding: 24px;
  border-radius: 16px;
  background-image: linear-gradient(
    180deg,
    rgba(128, 96, 87, 0) 55.21%,
    rgba(49, 31, 26, 0.71) 72.92%,
    var(--color-primery-dark) 100%
  );
  transition: transform 0.3s;

  &:hover {
  transform: scale(1.05);
}

  &__image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

&__title {
  color: var(--color-primery-light);
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  
}

&__text {
  color: var(--color-primery-light);
  font-size: 14px;
  font-weight: 300;
}
}



