.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primery-dark);
  background-image: url(../Images/footer-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

// &::before,
// &::after {
//   position: absolute;
//   background-repeat: no-repeat;
//   bottom: 0;
//   content: "";
// }

&::before {
  position: absolute;
  background-repeat: no-repeat;
  bottom: 300px;
  content: "";
  width: 92px;
  height: 196px;
  background-image: url(/Images/decor-bread-mobile-large.png);
  left: 0;

  @media screen and (min-width: $bp-tablet) {
   width: 180px;
   height: 120px;
   bottom: 0;
   left: 0;
   background-image: url(../Images/decor-bread-small.png);
  
    }
}
&::after {
  position: absolute;
  background-repeat: no-repeat;
  bottom: -30px;
  content: "";
  width: 110px;
  height: 120px;
  background-image: url(/Images/decor-bread-mobile-small.png);
  right: -10px;

@media screen and (min-width: $bp-tablet) {
   width: 380px;
   height: 190px;
   bottom: 0;
   right: 0;
   background-image: url(../Images/decor-bread-large.png);
  
    }

}


&__container {
  display: flex;
  flex-direction: column;
  // gap: 20px;

   @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    
  }
}

&__nav,
&__address {
  display: flex;
  flex-direction: column;
  text-align: center; 
  // gap: 20px;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    flex-basis: 50%;
    text-align: left;
  }
}

&__logo {
  flex-grow: 1;
  margin-bottom: 32px;
}

&__menu {
  flex-grow: 1;
  
}

&__address-list,
&__address-info {
  flex-grow: 1;
}

&__address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 18px;

   @media screen and (min-width: $bp-tablet)  {
     margin-bottom: 16px;
  }
  
}

&__address-link:hover {
  color: var(--color-brand-light);
}

&__address-icon {
  fill: var(--color-primery-light);
  margin-bottom: 8px;
}

&__address-icon:hover {
  fill: var(--color-brand-light);
}

&__address-policy {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  margin-bottom: 8px;

   @media screen and (min-width: $bp-tablet)  {
     margin-bottom: 16px;
  }
  
}

&__address-copyright {
  color: var(--color-secondary-brawn);
  font-size: 14px;
}

}



